.star-rating {
  display: flex;
}

.back-stars {
  display: flex;
  color: #bb5252;
  position: relative;
}

.front-stars {
  display: flex;
  color: #ffbc0b;
  position: relative;
  overflow: hidden;
  top: 0;
}
